<div>
  <label for="num1">Número 1:</label>
  <input id="num1" [(ngModel)]="num1" type="number">
</div>
<div>
  <label for="num2">Número 2:</label>
  <input id="num2" [(ngModel)]="num2" type="number">
</div>

<app-suma [num1]="num1" [num2]="num2"></app-suma>
<app-resta [num1]="num1" [num2]="num2"></app-resta>
<app-division [num1]="num1" [num2]="num2"></app-division>
<app-multiplicacion [num1]="num1" [num2]="num2"></app-multiplicacion>


<div>
  <label>Resultado:</label>
  <span>{{ resultadoService.getResultado() }}</span>
</div>